@charset "utf-8";
html,body {
	height: 100%;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size: 11px; 
	font-family: sans-serif;
}

table ,td {
	font-size: 11px; 
	font-family: sans-serif;
}
a:link {
	color: #666666;
	text-decoration: none;
}
a:visited {
	color: #666666;
	text-decoration: none;
}
a:hover {
	color: #FF0000;
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

#wrapper {
	position: absolute;
	width:auto !important;
	width:100%;
	min-width:100%;
	height: auto !important;
	height: 100%;
	min-height:100%;
	margin: 0;	
}

#main {
	/*width:100%;*/
	width:100%;
	padding:0 0 83px 0;
	background-color:#c8ffcc;
	/*border: 1px solid #0000FF;*/
}

#left {
	float:left;
	width:155px;
	padding: 15px 5px 0 5px;
	margin:0;
	/*border: 1px solid #FF0000;*/
}

#content {
	/*float:left;*/
	width:auto;
	padding: 15px 5px 0 5px ;
	margin:0 0 0 167px;
	/*border: 1px solid #FF0000;*/
}

#right  {
	float:right;
	width:5px;
	padding: 0;
	margin:0;
	/*border: 1px solid #FF0000;*/
}

#footer {
	position: absolute;
	background:url(images/members_footer.gif) repeat-x;
	bottom:0;
	margin:0;
	padding: 0;
	width:100% !important;
	min-width:auto;
	height:88px;
	/*text-align:center;*/
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*hide from IE-mac */
 * html .clearfix {
 	height: 1%;
}

.style1 {
	font-family: sans-serif;
	font-size: 10px;
}
.style2 {color: #FFFFFF}
.style3 {color: #333333}
.style4 {color: #333333; font-weight: bold; }
.style5 {color: #333333; font-weight: bold; font-size:12px; }
.co1 {
	background-color:#EEEEEE;
}
.co2 {
	background-color:#DDDDDD;
}
.totalline {
	font-weight:bold;
	background-color:#85DFFA;
}
.newheadtable{
	font-weight:bold;
	background-color:#AAAAAA;
}
.headtable{
	background-color:#AAAAAA;
}
.cancel {
	background-color:#FF0000;
	color:#FFFFFF;
}
.cancel a:link {
	color:#FFCCFF;
	text-decoration: none;
}
.cancel a:visited {
	color:#FFCCFF;
	text-decoration: none;
}
.cancel a:hover {
	color:#FFCCFF;
	text-decoration: none;
}
.cancellink{
	color:#FFFFCC;
}
.style11 {font-size: 9px}
.style16 {font-family: sans-serif; font-size: x-small; }
.style21 {font-size: 11px; font-family: sans-serif;}
.outvalid {font-size: 11px; font-family: sans-serif; color: #AAAAAA}
.style22 {font-size: 11px; font-family: sans-serif;color: red}
.style25 {font-size: 12px; font-family: tahoma; }
.style28 {font-size: 12px; font-family: sans-serif;color: white; text-align:center}
.style29 {font-size: 12px; font-family: sans-serif;color: white; text-align:left}
.style30 {font-size: 12px; font-family: sans-serif; }
.style31 {font-size: 12px; font-family: sans-serif; text-align: right;}